a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
td,
th {
  font-weight: 400;
  vertical-align: middle;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "STHeiti", "微软雅黑", "Microsoft YaHei", sans-serif;
}
body {
  color: #333;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #333;
  text-decoration: none;
}
button,
input[type=email],
input[type=number],
input[type=password],
input[type=text],
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #dddddd;
}
input {
  border: 0;
  outline: none;
}
html {
  font-size: 40px;
}
.fl {
  float: left;
}
.cf:before,
.cf:after {
  display: table;
  content: '';
}
.cf:after {
  clear: both;
}
.text-center {
  text-align: center;
}
.fs4 {
  font-size: 0.1rem;
}
.fs6 {
  font-size: 0.15rem;
}
.fs8 {
  font-size: 0.2rem;
}
.fs10 {
  font-size: 0.25rem;
}
.fs12 {
  font-size: 0.3rem;
}
.fs14 {
  font-size: 0.35rem;
}
.fs16 {
  font-size: 0.4rem;
}
.fs18 {
  font-size: 0.45rem;
}
.fs20 {
  font-size: 0.5rem;
}
.fs22 {
  font-size: 0.55rem;
}
.fs24 {
  font-size: 0.6rem;
}
.fs26 {
  font-size: 0.65rem;
}
.fs28 {
  font-size: 0.7rem;
}
.fs30 {
  font-size: 0.75rem;
}
.fs32 {
  font-size: 0.8rem;
}
.fs34 {
  font-size: 0.85rem;
}
.fs36 {
  font-size: 0.9rem;
}
.fs38 {
  font-size: 0.95rem;
}
.fs40 {
  font-size: 1rem;
}
.fs42 {
  font-size: 1.05rem;
}
.fs44 {
  font-size: 1.1rem;
}
.fs46 {
  font-size: 1.15rem;
}
.fs48 {
  font-size: 1.2rem;
}
.fs50 {
  font-size: 1.25rem;
}
.fumg-fs12 {
  margin-top: -0.3rem;
}
.fumg-fs14 {
  margin-top: -0.35rem;
}
.fumg-fs16 {
  margin-top: -0.4rem;
}
.fumg-fs18 {
  margin-top: -0.45rem;
}
.fumg-fs20 {
  margin-top: -0.5rem;
}
.fumg-fs22 {
  margin-top: -0.55rem;
}
.fumg-fs24 {
  margin-top: -0.6rem;
}
.fumg-fs26 {
  margin-top: -0.65rem;
}
.fumg-fs28 {
  margin-top: -0.7rem;
}
.fumg-fs30 {
  margin-top: -0.75rem;
}
.fumg-fs32 {
  margin-top: -0.8rem;
}
.fumg-fs34 {
  margin-top: -0.85rem;
}
.fumg-fs36 {
  margin-top: -0.9rem;
}
.fumg-fs38 {
  margin-top: -0.95rem;
}
.fumg-fs40 {
  margin-top: -1rem;
}
/**
*item类和line的区别
*
* item类主要用于表单的label 和 input，成组出现
*
* line类主要控制内部的left 和 right，保持在统一水平高度
*/
.text-color1 {
  color: #333333;
}
.text-color1 > * {
  color: #333333;
}
.text-color2 {
  color: #999999;
}
.text-color2 > * {
  color: #999999;
}
.white-bg {
  background-color: #fff;
}
.white-color {
  color: #ffffff;
}
body {
  background: #20bcce;
}
.head {
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: #0000ff;
  position: relative;
  color: #ffffff;
}
.back {
  position: absolute;
  left: 0.25rem;
  color: #ffffff;
}
.line {
  margin: 0.25rem 0.25rem 0;
  background-color: #fff;
}
.line .right {
  float: right;
}
.line:first-child {
  padding-top: 0.25rem;
}
.item {
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #20bcce;
  padding-left: 0.25rem;
  position: relative;
}
.item > input {
  position: absolute;
  height: 1rem;
  right: 0;
  left: 0;
  width: 100%;
  top: 0;
  text-indent: 2rem;
}
.item .val {
  position: absolute;
  height: 1rem;
  right: 0;
  left: 0;
  width: 100%;
  top: 0;
  text-indent: 2rem;
}
.item .label {
  position: absolute;
  z-index: 2;
}
.desc-title {
  margin-left: 0.5rem;
  font-size: 0.3rem;
  height: 1rem;
  line-height: 1rem;
}
.sub-btn {
  margin-top: 1rem;
  width: 90%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  display: block;
  background-color: #0000ff;
  margin-left: 5%;
  color: #ffffff;
}
.sub-btn-fixed {
  width: 90%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  display: block;
  background-color: #0000ff;
  margin-left: 5%;
  color: #ffffff;
  position: fixed;
  bottom: 0.25rem;
}
.from,
.to {
  display: inline;
}
.kefu-tel {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0.5rem;
  color: #ffffff;
}
.xm1 {
  color: #20bcce;
}
.xm2 {
  color: #ffa500;
}
.pt {
  padding-bottom: 1.5rem;
}
.index {
  padding-bottom: 1.5rem;
}
.index .icon-area {
  width: 100%;
  height: 6rem;
  background-color: #fff;
}
.index .btns {
  width: 100%;
  background-color: #fff;
  margin-top: 0.125rem;
}
.index .btns .btn-list li {
  width: 50%;
  height: 4rem;
  border-left: 1px solid #20bcce;
  border-bottom: 1px solid #20bcce;
  margin-left: -0.025rem;
  position: relative;
}
.index .btns .btn-list li a {
  display: block;
  padding-top: 1.5rem;
  line-height: 2.5rem;
}
.index .btns .btn-list li .text-line {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  color: #999999;
}
.white-bg {
  background-color: #fff;
}
.active {
  color: #20bcce !important;
}
.active > a {
  color: #20bcce !important;
}
.nav-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.25rem;
  background-color: #fff;
}
.nav-wrap .nav-list li {
  height: 100%;
  width: 33.33333%;
}
.nav-wrap .nav-list li a {
  line-height: 1.25rem;
  display: block;
  color: #999999;
  padding-top: 0.375rem;
}
.login {
  width: 90%;
  margin: 2.5rem 5%;
}
.login .item {
  margin-top: 0.5rem;
}
.login .item > input {
  text-indent: 1rem;
  border-radius: 0.5rem;
}
.login .item .yzm {
  position: absolute;
  height: 1rem;
  line-height: 1rem;
  right: 0;
  width: 3rem;
  text-align: center;
  color: #ffffff;
  background-color: green;
  border-radius: 0 0.5rem 0.5rem 0;
}
.login .sub-btn {
  border-radius: 0.5rem;
  width: 100%;
  margin-left: 0;
}
.login .join {
  display: block;
  margin-top: 0.5rem;
  text-align: right;
}
.login .kefu-tel {
  width: 90%;
}
.log .logo {
  width: 100%;
  height: 3.75rem;
  font-size: 1.25rem;
  text-align: center;
  line-height: 3.75rem;
}
.log .kefu-tel {
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.log .sub-btn {
  margin-top: 0;
  background-color: #20bcce;
}
.log .active {
  background-color: #0000ff;
}
.join .sub-btn {
  height: 1rem;
  line-height: 1rem;
  border-radius: 0.75rem;
}
.join1 .logo {
  width: 100%;
  height: 3.75rem;
  font-size: 1.25rem;
  text-align: center;
  line-height: 3.75rem;
}
.join1 .item {
  position: relative;
}
.join1 .item .inline-btn {
  position: absolute;
  width: 2rem;
  right: 0.25rem;
  border: 1px solid #20bcce;
  color: #20bcce;
  height: 0.75rem;
  top: 0.125rem;
  line-height: 0.75rem;
}
.join1 .kefu-tel {
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.join1 .sub-btn {
  margin-top: 0;
  background-color: #20bcce;
}
.join1 .sq {
  margin-top: 0.75rem;
}
.join1 .active {
  background-color: #0000ff;
}
.orders .top-nav {
  height: 0.75rem;
  background-color: #fff;
}
.orders .top-nav .nav-menus li {
  width: 25%;
  line-height: 0.75rem;
}
.orders .top-nav .nav-menus .active {
  border-bottom: 2px solid #20bcce;
}
.orders .empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.75rem;
  bottom: 1.25rem;
  padding-top: 50%;
}
.orders .list .order-list {
  background-color: #fff;
}
.orders .list .order-list .pb10 {
  padding-bottom: 0.25rem;
}
.orders .list .order-list li .line .btn {
  display: block;
  height: 1rem;
  line-height: 1rem;
}
.orders .list .order-list li .btns {
  width: 100%;
  margin-left: -0.25rem;
  padding-left: 0.25rem;
}
.orders .list .order-list li .btns .btn {
  width: 50%;
  text-align: center;
  border-top: 1px solid #20bcce;
  border-left: 1px solid #20bcce;
  margin-left: -0.025rem;
}
.pricing .list {
  background-color: #fff;
  padding-bottom: 0.25rem;
}
.pricing .list .label {
  font-size: 0.3rem;
  background: #20bcce;
  color: #ffffff;
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
}
.routs .list li {
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #20bcce;
}
.give-price .group {
  background-color: #fff;
}
.give-price .group .item textarea {
  margin-left: 1.75rem;
  margin-top: 0.375rem;
  border: 0;
  resize: none;
  background-color: #ddd;
}
.give-price .group .item .radio-group {
  position: relative;
  height: 100%;
  margin-left: 1.75rem;
}
.give-price .group .item .radio-group .radio-item {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  margin-right: 1rem;
}
.give-price .group .item .radio-group .radio-item > input[type="radio"] {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 0.2rem;
  right: 0;
}
.give-price .group .item-auto-height {
  height: auto;
}
.give-price .sub-btn {
  position: absolute;
  bottom: 0.5rem;
}
.card .group {
  background-color: #fff;
  margin-top: 0.25rem;
}
.user-center .icon-area {
  height: 4.25rem;
  background: yellow;
  padding-top: 0.75rem;
}
.user-center .icon-area .icon {
  width: 2.5rem;
  height: 2.5rem;
  background: red;
  position: relative;
  margin: 0 auto;
  border-radius: 100%;
}
.user-center .icon-area .name {
  margin-top: 0.25rem;
}
.user-center .icon-area .phone {
  margin-top: 0.125rem;
}
.priced .list li {
  background-color: #fff;
  padding-bottom: 0.125rem;
}
.priced .list li .tag {
  background: #20bcce;
  color: #ffffff;
  padding: 0.075rem 0.2rem;
  border-radius: 0.25rem;
}
.priced-detail {
  padding-bottom: 1.5rem;
}
.priced-detail .line {
  margin: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  height: 0.75rem;
  line-height: 0.75rem;
}
.priced-detail .line .right-top {
  margin-right: 0.5rem;
}
.priced-detail .large-height {
  height: 1rem;
  line-height: 1rem;
}
.priced-detail .group {
  padding-left: 0.25rem;
  background-color: #fff;
}
.priced-detail .group .item {
  position: relative;
}
.priced-detail .group .item .label {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  background: #20bcce;
  height: .5rem;
  line-height: .5rem;
  padding: 0.075rem .2rem;
  border-radius: .5rem;
}
.priced-detail .group .item:last-child {
  border: 0;
}
.pricing-detail {
  padding-bottom: 0.5rem;
}
.pricing-detail .line {
  margin: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  height: 0.75rem;
  line-height: 0.75rem;
}
.pricing-detail .line .right-top {
  margin-right: 0.5rem;
}
.pricing-detail .large-height {
  height: 1rem;
  line-height: 1rem;
}
.pricing-detail .group {
  padding-left: 0.25rem;
  background-color: #fff;
}
.pricing-detail .group .item {
  position: relative;
}
.pricing-detail .group .item .label {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  background: #20bcce;
  height: .5rem;
  line-height: .5rem;
  padding: 0.075rem .2rem;
  border-radius: .5rem;
  color: #ffffff;
}
.pricing-detail .group .item:last-child {
  border: 0;
}
.order-detail {
  padding-bottom: 0.5rem;
}
.order-detail .line {
  margin: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  height: 0.75rem;
  line-height: 0.75rem;
}
.order-detail .line .right-top {
  margin-right: 0.5rem;
}
.order-detail .large-height {
  height: 1.25rem;
}
.order-detail .large-height .line-inner {
  height: 0.5rem;
  line-height: 0.5rem;
}
.order-detail .group {
  padding-left: 0.25rem;
  background-color: #fff;
}
.order-detail .group .item {
  position: relative;
}
.order-detail .group .item .label {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  background: #20bcce;
  height: .5rem;
  line-height: .5rem;
  padding: 0.075rem .2rem;
  border-radius: .5rem;
  color: #ffffff;
}
.order-detail .group .item .val {
  text-indent: 3rem;
}
.order-detail .group .item:last-child {
  border: 0;
}
.order-detail .tip {
  text-align: center;
  margin-top: 0.25rem;
}
